html {

}

.console div {
    margin: 20p 0;
    padding: 10px 20px;
}

.console .players {
    background-color: yellow;
}

.console .deck {
    background-color: green;
}

.console .drawn {
    background-color: blue;
}

.console .discarded {
    background-color: red;
}