.console {
    display: none;
}

.console div {
    margin: 20p 0;
    padding: 10px 20px;
}

.console .players {
    background-color: yellow;
}

.console .deck {
    background-color: green;
}

.console .drawn {
    background-color: blue;
}

.console .discarded {
    background-color: red;
}

.controls {
    display: none;
}

$color-chalk: #F5F9FB;
$color-red: #F17B89;

html {
    body {
        margin: 0;
        padding: 0;

        .main {
            height: 100%;
            display: flex;
            flex-direction: column;

            .heading {
                margin: 1% calc(2% + 5px);
                color: $color-chalk;
                font-family: 'Kanit';
            }

            .rules {
                border-bottom: 3px solid $color-chalk;
                box-sizing: border-box;
                height: 10%;
                background-color: black;
                background-image: url("https://www.transparenttextures.com/patterns/leather.png");
                display: flex;
                flex-direction: column;
                padding-bottom: 1%;
                background-color: #6a3701;
                background-image: url(http://www.transparenttextures.com/patterns/wood-pattern.png);

                .rules-wrapper {
                    display: flex;
                    flex: 1;

                    .rule {
                        border: 3px solid $color-chalk;
                        flex: 1;
                        margin: 1% 2%;
                        border-radius: 15px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        background-color: white;
                        font-family: 'Kanit';
                        font-size: 10px;
                        padding: 0 5px;
                        white-space: nowrap;
                        text-overflow: ellipsis;

                        i {
                            color: black;
                        }
                    }
                }
            }

            .players {
                border-bottom: 3px solid $color-chalk;
                box-sizing: border-box;
                height: 15%;
                background-color: #6a3701;
                background-image: url(http://www.transparenttextures.com/patterns/wood-pattern.png);
                display: flex;
                flex-direction: column;
                padding-bottom: 1%;
                background-color: black;
                background-image: url("https://www.transparenttextures.com/patterns/leather.png");

                .players-wrapper {
                    display: flex;
                    flex: 1;

                    .player {
                        border: 3px solid $color-chalk;
                        flex: 1;
                        margin: 1% 2%;
                        border-radius: 15px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        i {
                            color: $color-chalk;
                        }
                    }
                }
            }

            .board {
                background-color: #35654d;
                display: flex;
                flex: 1;
                justify-content: center;
                align-items: stretch;
                background-image: url(http://www.transparenttextures.com/patterns/pool-table.png);

                .deck {
                    margin: 5%;
                    aspect-ratio: 2/3;
                    border: 3px solid $color-chalk;
                    border-radius: 15px;
                    box-sizing: border-box;
                    // box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.75);
                    position: relative;
                    overflow: hidden;
                    cursor: pointer;

                    .card {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        top: 0;
                        left: 0;

                        // .front {
                        //     animation: rotateAnimationFront 1.5s ease-in-out reverse forwards;
                        // }

                        // .back {
                        //     animation: rotateAnimationBack 1.5s ease-in-out reverse forwards;
                        // }

                        &:hover {
                            .front {
                                animation: rotateAnimationFront 1.5s ease-in-out forwards;

                                @keyframes rotateAnimationFront {
                                    from {
                                        transform: rotateY(-180deg);
                                    }

                                    to {
                                        transform: rotateY(0deg);
                                    }
                                }
                            }

                            .back {
                                animation: rotateAnimationBack 1.5s ease-in-out forwards;
                                @keyframes rotateAnimationBack {
                                    from {
                                        transform: rotateY(0deg);
                                    }
    
                                    to {
                                        transform: rotateY(180deg);
                                    }
                                }
                            }
                        }

                        .front {
                            transform: rotateY(-180deg);
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            top: 0;
                            left: 0;
                            backface-visibility: hidden;
                            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.75);

                            .face {
                                background: url('images/King.png');
                                position: absolute;
                                width: 100%;
                                height: 50%;
                                background-size: cover;
                                background-position: top;
                                border-bottom: 2px solid $color-chalk;

                                &.top {
                                    top: 0;
                                }

                                &.bottom {
                                    bottom: 0;
                                    transform: scale(-1);
                                }


                                .index {
                                    position: absolute;
                                    background-color: $color-chalk;
                                    width: 25%;
                                    aspect-ratio: 1;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    gap: 2%;
                                    font-family: 'Kanit';
                                    font-size: 2rem;
                                    border: 3px solid $color-chalk;
                                    box-sizing: border-box;
                                    border-radius: 15px 0;
                                    color: rgb(211, 0, 0);
                                    flex-direction: column-reverse;
                                    left: -3px;
                                    top: -3px;
                                    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.75);
                                    text-emphasis: none;
                                    user-select: none;

                                    i {
                                        font-size: 1.7rem;
                                    }
                                }
                            }

                        }

                        .back {
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            top: 0;
                            left: 0;
                            background-image: url('icons/poker.png');
                            background-position: center;
                            background-size: contain;
                            background-repeat: no-repeat;
                            backface-visibility: hidden;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-family: 'Kanit';
                            font-size: 5rem;
                            text-shadow: 6px 6px rgba(63,68,73,0.75);
                            color: $color-red;
                            text-emphasis: none;
                            user-select: none;
                            background-color: $color-chalk;
                            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.75);
                        }
                    }
                }
            }
        }
    }
}